.postsform{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
    position: fixed;
    bottom: 11%;
    left: 0;
    width: 100%;
    height: auto;
    color: white;
    background-color: transparent;
}

.postsform textarea{
  height: 70%;
  width: 650px;
  border-radius: 10px;
  font-size: large;
  border: 4px solid #252243;
}

.postsform button{
  height: 30px;
  width: 70px;
  border: none;
  border-radius: 10px;
  font-size: medium;
  color: white;
  background-color: #252243;
}

.postsform button:hover{
  background-color: #121020;
}