.val1{
    display: flex;
    padding: 2em;
    background-color: white;
    align-items: center;
    text-align: center;
    box-shadow: 0 20px 24px 0 rgba(0,0,0,0.2);
    border-left: solid 10px purple;

}
.leftval{
    width: 30%;
    float: left;
}
.rightval{
    width: 70%;
    float: right;
    font-size: 28px;
}

#greet{
    margin-left: 70px;
    font-size: 18px;
}

.comp{
    font-size: 18px;
}