.explore {
    margin: auto;
    margin-top: 2%;
    width: 70%;
    padding: 20px;
    background: whitesmoke;
    border-radius: 5px;
    color: #252243;
    margin-bottom: 10%;
}
.explore .head-explore{
    color: #252243;
}
.explore .post{
    margin: auto;
    margin-bottom: 50px;
    padding: 2em;
    width: 80%;
    border-left: #3A3845 solid 6px;
}

.explore .post .heading{
    color: #3A3845;
    font-size: 20px;
    font-weight: bold;
}
.explore .post .subheading{
    color: #252243;
    font-size: 18px;
}
.explore .post .body{
    font-size: 18px;
}

.explore .post .foot{
    color: #252243;
    font-weight: bold;
    color: green;
}

.explore .head-explore{
    display: flex;
    justify-content: center;
    color: #252243;
    font-size: larger;

}

.explore .del{
    display: flex;
    margin-top: 30px;
    width: 80%;
    padding: 6px;
    border: #3A3845 solid 1px;
}

.explore .del :hover{
    background-color:#FDF0F6;
}
.explore .del AiFillDelete:hover{
    pointer-events: stroke;
}





*, *::before, *::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.explore {
	position: relative;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden;
	padding: 2rem;
}

.explore:before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
		animation: rotate 20s linear infinite;
}
	
.explore:after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
	}

    .show {
        position: fixed;
        width: 100%;
        left: 90%;
        bottom: 120px;
        height: 20px;
        font-size: 3rem;
        z-index: 1;
    }
    .show button{
        width: 120px;
        height: 40px;
        font-size: 16px;
        border: none;
        background-color: orangered;
        border-radius: 10em;
    
    
    
    
    }
    
    .show button:hover{
        background-color: rgb(216, 107, 68);
        cursor: pointer;
    }