.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #180A0A;
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
    color: white;
}

.footer .icons{
    display: flex;
    justify-content: center;
}

.footbody{
    font-size: "20px";
    font-family: "cursive";
}