.message0 {
    color: red;
    display: flex;
    justify-content: center;
    font-size: medium;
    font-weight: bold;
}

.message1 {
    color: green;
    display: flex;
    justify-content: center;
    font-size: medium;
    font-weight: bold;
}